.main {
  width: 100%;
  background-color: rgb(185, 29, 29);
  height: 100px;
}

.innerMain {
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: left;
  font-size: 50px;
  float: left;
  margin: 0 auto;
  width: 70%;
  display: block;
  height: 100px;
}

.menu {
  display: inline-block;
  width: 70%;
  text-align: right;
}

.menuButton {
  border: black;
  color: black;
  background-color: white;
  display: inline-block;
  text-align: center;
  margin-top: 60px;
  width: 100px;
}